
#container
{
	background-color: white;
	width: 80%;
	padding: 5%;
    margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 10px 5px rgba(204,204,204,0.9);
    font-family: "sans-serif", verdana;
}
#separator{
   
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 8%;
}
/* button */
input[type=submit]
{
	width: 30%;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 2%;
	margin-top: 25;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none; 
    margin: 0 auto;
    

}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #37b93d;
}
input[type=text],
input[type=number],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	/*outline: none;*/
	margin-top: 5px;
    margin-bottom: 5px;
}

input[type=text]:focus,
input[type=number]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

#test{
    color: green;
    text-decoration: none;
    font-size: 24px;
    padding-left: 2%;
    font-family: "sans-serif", verdana;
    text-align: center;
}
/* headery */
h1{
    color: black;
    margin-top: 4%;
    text-align: center;
    font-family: "sans-serif", verdana;
    font-size: 24px;
}
h2{
    color: black;
    margin-top: 4%;
    text-align: center;
    font-family: "sans-serif", verdana;
    font-size: 18px;
    
}
/*paragrafy*/
p.test{
   font-size: 27px;
  text-align: center;
}

a{
    text-align: center;
    color: red;
}
/* do kropek */
div.parent {
	text-align: center;
	}
ul{ 
    display: inline-block; 
	text-align: left; 
    font-size: 25px;
}


label {
    width: 26%;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 2%;
	margin-top: 25;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none; 
    display: block;
    margin: 0 auto; 
}

label:focus {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

label:hover{
    background-color: #37b93d;
}

.alarm{
  color: red;
}
#file-chosen{
  margin-left: 0.3rem;
  font-family: sans-serif;
}

.przycisk{
    text-decoration:none; 
    width: 30%;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 2%;
	margin-top: 25;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none; 
    display: block;
    margin: 0 auto; 
}
.tooltip {
  position: relative;
  display: inline-block;
  left: 30%;
  border-bottom: 1px dotted black;

  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 600%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#znacznik_select{
    color: #757580;
    background-color: #efefef;
    width: 28.3%;
    font-size:20px;
    border-radius: 5px;
    border-color: #dddddd;
    border-width: 2px;
    padding: 1%;
    margin-bottom: 0.5%;
}

.wyloguj{
    width: 30%;
	background-color: #36b03c;
	color: white;
	padding: 2%;
	margin-top: 25;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none; 
    display: block;
    margin: 0 auto; 
}
